@charset "utf-8";



html {
   font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
   height: 100%;
   font-size: 18px;
   color: rgb(101, 101, 101);
}

body {
   padding: 20px;
   position: relative;
}

h1 {
   font-weight: normal;
   font-size: 2.4em;
   margin-top: 5px;
   margin-left: 250px;
   padding-bottom: 60px;
}

div#radiusOptions {
   line-height: 2em;
   margin-top: 0px;
}

label {
   display: inline-block;
   width: 180px;
}



div#outcome {
   position: absolute;
   top: 60px;
   left: 300px;
   font-size: 22px;
}


div#outcomebox {
   background: hsla(30,75%,51%,0.4);
   width: 300px;
   height: 300px;
   border: 2px solid rgb(21, 21, 21);
   position: absolute;
   top: 20px;
   left: 171px;
   border-radius: 30px;
}

div.rbox {
   background: transparent;
   position: absolute;
   width: 60px;
   height: 60px;
   border: 1px dashed rgb(51, 51, 51);
   border-radius: 30px;
}

div#tlbox {
   top: 0%; left: 0%;
}

div#trbox {
   top: 0%; right: 0%;
}

div#brbox {
   bottom: 0%; right: 0%;
}

div#blbox {
   bottom: 0%; left: 0%;
}

div#outcomecode {
   position: absolute;
   top: 340px;
   left: 180px;
   width: 600px;
}


   